#wrapper {
    font-family: sans-serif;
    margin: 20px;
}
#formHead {
    display: block;
    margin: 15px 0px 15px;
    width: 350px;
}
#formDescription {
    display: block;
    margin: 15px 0px 15px; 
    resize: none;
}

/*Начало Блок рабочего поля формы*/
.fieldContainer{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}
.divCross {
    position: absolute;
    cursor: pointer;
    right: 30px;
}
.fieldHead {
    margin: 10px 10px 0px 0px;
}
.inputTextQuestions {
    position: absolute;
    display: block;
    margin: 15px 0px 15px;
    resize: none;
}
.shown {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}
.block {
    display: block;
    margin: 15px 0px 15px;
}
.checkbox {
    text-align: right;
}
/*Конец Блок рабочего поля формы*/

#btnCreateField {
    float: right;
}
.button {
    float:right;
    margin:10px 0px 0px 10px;
}