model AspMVC.Models.FormEditor
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="~/Content/styles.css" rel="stylesheet" />
    <script language="javascript" src="~/Scripts/fieldcreater.js"></script>
    <title>Редактирование формы</title>
</head>
<body>
    <div id="wrapper">
        <h2>Редактирование формы</h2>
        <form method="post" action="">
            <input type="text" id="formHead" name="formHead" placeholder="Заголовок формы">
            <textarea id="formDescription" name="formDescription" placeholder="Описание формы"
                      rows="2" cols="50"></textarea>
            <p>Поля формы:</p>
            <div id="fields" name="fields">
                @Html.Editor("fields")
            </div>
            <a href="#" id="btnCreateField" onclick="createField()">+ Добавить поле</a>
            <br>
            <input type="submit" class="button" value="Сохранить">
            <input type="submit" class="button" value="Закрыть">
        </form>
    </div>
</body>
</html>