@model AspFormEditor.Models.Form

@{
    ViewBag.Title = "Редактор форм";
}
<div class="justify-content-md-center container margin-top">
    <div class=" offset-2 col-8 border border-dark work-field">
        <h2>Редактирование формы</h2>
        @using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { @id = "edit-form" }))
        {
            @Html.Partial("PartialViews/_FormEdit")
        }
        <div class="form-group">
            <button type="button" class="btn btn-link float-right">+Добавить поле</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="">Закрыть</button>
            <button type="submit" class="btn btn-primary" form="edit-form">Сохранить</button>
        </div>
    </div>
</div>